<div class="card">
    <img class="card-img-top" [src]="album?.images | noimage:0" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{album.name}}</h5>

        <div class="artists">
            <a class="artist" (click)="goArtist(artist.id)" *ngFor="let artist of album.artists">{{artist.name}}</a>
        </div>

        <p class="card-date"><i class="far fa-calendar-alt"></i> {{ album.release_date | date:'yy MM'}}</p>

        <a (click)="goAlbum(album.id)" class="btn btn-primary"><i class="far fa-play-circle"></i> Go play</a>
    </div>
</div>