/* You can add global styles to this file, and also import other style files */

@import "./assets/css/bootstrap.min.css";
body {
    margin: 0;
    background-color: #1b1818;
    font-size: 16px;
    font-size: 1rem;
    color: white;
}

.container {
    padding: 1.5rem;
}

.card-columns {
    overflow: visible;
}